/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    overflow-x:hidden;
    font-family:'Cormorant Garamond', serif;
}

/* FLOWER SHOWER */

.flower-container{
    position:fixed;
    inset:0;
    width:100%;
    height:100%;
    pointer-events:none;
    overflow:hidden;
    z-index:9999;
}

.petal{
    position:absolute;
    width:25px;
    height:auto;
    top:-100px;
}

/* ==========================
   HERO SECTION
========================== */

.card{
    position:relative;
    width:100%;
    min-height:100vh;
    overflow:hidden;
}

.card picture,
.invitation picture,
.invitation1 picture{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
}

.bg-img{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}

.content{
    position:relative;
    z-index:2;
    width:100%;
    max-width:600px;
    margin:auto;
    padding:120px 20px 150px;
    text-align:center;
}

.invite-text{
    color:#595959;
    font-size:18px;
    line-height:1.5;
    margin-bottom:25px;
}

.name{
    font-family:'Dancing Script', cursive;
    font-size:90px;
    color:#d14c63;
    line-height:1;
    margin:20px 0;
}

.parents{
    color:#666;
    font-size:22px;
    line-height:1.5;
}

.with{
    font-family:'Great Vibes', cursive;
    font-size:40px;
    color:#c98500;
    margin:30px 0 15px;
}

/* ==========================
   SAVE THE DATE
========================== */

.scratch-container{
    position:relative;
    width:350px;
    height:100px;
    margin:40px auto;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.reveal-content{
    position:absolute;
    inset:0;
    background:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.reveal-content.revealed{
    border:2px solid #d4a62a;
    border-radius:20px;
}

.reveal-content h2{
    color:#c89b3c;
    font-size:18px;
}

.reveal-content h1{
    color:#d9a441;
    font-size:32px;
}

#scratch{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    z-index:2;
}

/* ==========================
   COUNTDOWN
========================== */

.countdown{
    display:none;
    justify-content:center;
    gap:12px;
    flex-wrap:wrap;
    margin-top:20px;
}

.countdown.show{
    display:flex;
}

.time-box{
    width:65px;
    height:75px;
    background:#fff;
    border-radius:12px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow:0 10px 40px rgba(0,0,0,.2);
}

.time-box span{
    font-size:30px;
    color:#b47a87;
}

.time-box small{
    font-size:10px;
    letter-spacing:2px;
    color:#999;
}

/* ==========================
   EVENTS SECTION
========================== */

.schedule-section{
    background:#e7efee;
    padding:40px 0;
    margin-top:40px;
}

.event-title{
    font-family:'Great Vibes', cursive;
    font-size:60px;
    color:#d14c63;
    text-align:center;
    margin:40px 0;
}

/* ==========================
   MUHURTHAM
========================== */

.invitation{
    position:relative;
    width:100%;
    min-height:100vh;
    overflow:hidden;
}

.mh-img{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}

.invitation-content{
    position:absolute;
    top:38%;
    left:50%;
    transform:translate(-50%,-50%);
    width:60%;
    max-width:700px;
    text-align:center;
    z-index:10;
}

.logo-wrapper{
    display:flex;
    justify-content:center;
    margin-top:30px;
}

.ganesha-logo{
    width:100px;
}

.title,
.intro,
.groom,
.bride,
.details,
.venue,
.footer{
    font-family:'Noto Serif Tamil', serif;
}

.title{
    font-size:2.5rem;
    margin-bottom:20px;
}

.intro{
    font-size:1rem;
    line-height:1.5;
}

.groom,
.bride{
    font-size:1.6rem;
}

.heart{
    font-size:1.5rem;
}

.details{
    font-size:1.1rem;
    line-height:1.6;
}

.venue h3{
    font-size:1.4rem;
}

.venue p{
    font-size:1rem;
    line-height:1.4;
}

.footer{
    margin-top:15px;
}

/* ==========================
   RECEPTION
========================== */

.invitation1{
    position:relative;
    width:100%;
    min-height:100vh;
    overflow:hidden;
    margin-top: 20px;
}

.invitation1 picture{
    position:absolute;
    inset:0;
}

.rc-img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}

.cocktail-night{
    position:absolute;
    inset:0;
    z-index:10;
}

.cocktail-content{
    position:absolute;
    left:33%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

.cocktail-content h1{
    font-family:'Qwigley', cursive;
    font-size:120px;
    font-weight: 300;
    color:#e8d1bf;
    line-height:1;
    text-shadow:
        0 0 10px rgba(255,230,200,.5),
        0 0 20px rgba(255,230,200,.4);
}

.cocktail-content h2{
    margin-top:20px;
    font-size:60px;
    color:#f1d7c2;
    letter-spacing:3px;
}

.cocktail-date{
    margin-top:20px;
    font-size:32px;
    color:#f1d7c2;
    letter-spacing:3px;
}

.cocktail-content p{
    margin-top:12px;
    font-size:25px;
    color:#f1d7c2;
}

.heart1{
    font-size:30px;
    color:#f1d7c2;
    margin:12px 0;
    text-shadow:
        0 0 10px rgba(255,230,200,.5),
        0 0 20px rgba(255,230,200,.4);
}

.venue-section{
    background: linear-gradient(
        to bottom,
        #f6edee,
        #FAF3F5
    );
    padding:60px 20px;
    text-align:center;
    position:relative;
}

.venue-subtitle{
    font-size:18px;
    letter-spacing:4px;
    color:#c79a9a;
    text-transform:uppercase;
}

.venue-title{
    font-family:'Great Vibes', cursive;
    font-size:px;
    color:#b86a79;
    margin:10px 0 20px;
}

.venue-address{
    color:#777;
    font-size:15px;
    margin-bottom:30px;
}

.contact-details {
    margin-top: 25px;
    text-align: center;
    color: #7a6a6a;
    font-family: 'Montserrat', sans-serif;
}

.rsvp-section{
    text-align:center;
    margin-top:20px;
    color:#b76e79;
    font-family:'Marcellus', serif;
    line-height:1.8;
    font-size:16px;
    margin-bottom: 15px;
}
.contact-details p {
    margin: 5px 0;
    font-size: 18px;
}

.contact-details strong {
    color: #c07a8a;
    letter-spacing: 2px;
}

.map-container{
    width:100%;
    max-width:700px;
    margin:0 auto 30px;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.map-container iframe{
    width:100%;
    height:350px;
    border:none;
}

.direction-btn{
    display:inline-block;
    background:#f4b347;
    color:#fff;
    text-decoration:none;
    padding:14px 28px;
    border-radius:30px;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.direction-btn:hover{
    transform:translateY(-2px);
}

.footer-section{
    background:#7A5246;
    padding:60px 20px;
    text-align:center;
}

.footer-love{
    font-size:12px;
    letter-spacing:3px;
    color:#ffffff;
    margin-bottom:10px;
    text-transform:uppercase;
}

.footer-names{
    font-family:'Great Vibes', cursive;
    font-size:58px;
    font-weight:400;
    color:#ffffff;
    line-height:1.2;
    margin-bottom:25px;
}

.footer-date{
    font-family:'Cormorant Garamond', serif;
    font-size:18px;
    color:#ffffff;
    margin-bottom:10px;
}

.footer-hashtag{
    font-size:16px;
    letter-spacing:2px;
    color:#ffffff;
    font-weight:500;
}

/* ==========================
   MOBILE VIEW
========================== */

@media (max-width:768px){

    /* HERO */

    .card{
        min-height:100vh;
    }

    .content{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:100%;
        padding:0 20px;
    }

    .invite-text{
        font-size:14px;
        line-height:1.6;
    }

    .name{
        font-size:52px;
        margin:12px 0;
    }

    .parents{
        font-size:16px;
        line-height:1.5;
    }

    .with{
        font-size:32px;
        margin:20px 0 10px;
    }

    /* SAVE DATE */

    .scratch-container{
        width:90%;
        max-width:320px;
        height:90px;
    }

    .reveal-content h2{
        font-size:15px;
    }

    .reveal-content h1{
        font-size:26px;
    }

    /* COUNTDOWN */

    .countdown{
        gap:8px;
        margin-top:15px;
    }

    .time-box{
        width:60px;
        height:70px;
    }

    .time-box span{
        font-size:24px;
    }

    .time-box small{
        font-size:9px;
        letter-spacing:1px;
    }

    /* EVENTS */

    .event-title{
        font-size:42px;
        margin:20px 0 30px;
    }

    /* MUHURTHAM */

    .invitation{
        position:relative;
        height:100vh;
        overflow:hidden;
    }

    .mh-img{
        position:absolute;
        inset:0;
        width:100%;
        height:100%;
        object-fit:cover;
        object-position:center;
    }

    .invitation-content{
        position:absolute;
        top:36%;
        left:50%;
        transform:translate(-50%,-50%);
        width:72%;
        text-align:center;
        z-index:10;
    }

    .logo-wrapper{
        margin-top:60px;
        margin-bottom:0;
    }

    .ganesha-logo{
        width:100px;
    }

    .title{
        font-size:1.8rem;
        margin-bottom:10px;
        color:#8b0000;
    }

    .intro{
        font-size:0.75rem;
        line-height:1.5;
        margin-bottom:12px;
    }

    .groom,
    .bride{
        font-size:1rem;
        font-weight:600;
    }

    .heart{
        font-size:18px;
        margin:5px 0;
        color:#c62828;
    }

    .details{
        font-size:0.72rem;
        line-height:1.6;
        margin-top:10px;
    }

    .venue{
        margin-top:10px;
    }

    .venue h3{
        font-size:0.9rem;
        margin-bottom:5px;
    }

    .venue p{
        font-size:0.72rem;
        line-height:1.4;
    }

    .footer{
        font-size:0.68rem;
        margin-top:12px;
        line-height:1.4;
    }

    /* RECEPTION */

     .invitation1{
        position:relative;
        width:100%;
        min-height:100vh;
        overflow:hidden;
        margin-top: 20px;
    }

    .rc-img{
        width:100%;
        height:100%;
        object-fit:cover;
        object-position:right;
    }

    .cocktail-content{
        position:absolute;
        top:41%;
        left:35%;
        width:80%;
        text-align:center;
        transform:translate(-50%,-50%);
}

    .cocktail-content h1{
        font-size:85px;
        margin-bottom:10px;
    }

    .cocktail-content h2{
        font-size:35px;
        margin-top:5px;
    }

    .heart1{
        font-size:18px;
        margin:5px 0;
    }

    .cocktail-date{
        font-size:18px;
        margin-top:25px;
        letter-spacing:2px;
    }

    .rec-para{
        margin-top:35px;
    }

    .rec-para p{
        font-size:16px;
        line-height:1.4;
        margin:2px 0;
    }

     .bg-img,
    .mh-img,
    .rc-img{
        object-position:center center;
    }

     .venue-title{
        font-size:42px;
    }

    .venue-address{
        font-size:13px;
        line-height:1.6;
    }

    .map-container iframe{
        height:250px;
    }

    .direction-btn{
        font-size:14px;
        padding:12px 24px;
    }
    .footer-section{
        padding:40px 15px;
    }

    .footer-love{
        font-size:10px;
        letter-spacing:2px;
    }

    .footer-names{
        font-size:42px;
    }

    .footer-date{
        font-size:14px;
    }

    .footer-hashtag{
        font-size:12px;
        letter-spacing:1px;
    }
}

/* EXTRA SMALL DEVICES */

/* @media (max-width:400px){

    .name{
        font-size:46px;
    }

    .title{
        font-size:1.5rem;
    }

    .groom,
    .bride{
        font-size:1rem;
    }

    .intro,
    .details,
    .venue p{
        font-size:.75rem;
    }

     .cocktail-content{
        top:30%;
        width:85%;
    }

    .cocktail-content h1{
        font-size:48px;
    }

    .cocktail-content h2{
        font-size:20px;
    }

    .cocktail-date{
        font-size:12px;
    }

    .cocktail-content p{
        font-size:12px;
    }
} */

